    <head>
        <h1>
            Search History
          </h1>
    </head>
    <body>
        <main class="centered">
            <main>
                <div class="grid">
                    <% for (let sear of search) { %>
                        <article class="search-item">
                            <header class="card__header">
                                <h1 class="search_text">
                                    <%= sear.searchText %>
                                </h1>
                            </header>

                            <div class="card__content">
                                <h2 class="search_id">$
                                    <%= sear._id %>
                                </h2>
                                <p class="search_text">
                                    <%= search.searchText %>
                                </p>
                            </div>

                        </article>
                        <% } %>
                </div>
            </main>
        </main>
    </body>

