 .u-section-1 {
  background-image: url("images/--31.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 849px;
  height: 150px;
  margin: 359px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 127px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 60px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1511px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-weight: normal;
  font-size: 5rem;
  margin: 219px 617px 0 0;
}

.u-section-2 .u-image-1 {
  width: 292px;
  height: 26px;
  margin: -2px auto 0 421px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 33px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 940px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 68px 238px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 42px 238px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/image3.png");
  min-height: 940px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 424px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -227px;
    margin-right: 327px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-top: 368px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 7px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 204px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 107px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 238px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2571px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 100px;
  }

  .u-section-2 .u-image-2 {
    min-height: 1880px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    object-position: 50% 50%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1164px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-3 .u-image-1 {
  width: 282px;
  height: 32px;
  margin: 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 89px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 379px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-image-2 {
  width: 190px;
  height: 192px;
  margin: -16px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -12px 21px 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 379px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 167px;
  height: 156px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 379px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 0 30px;
}

.u-section-3 .u-image-4 {
  width: 188px;
  height: 187px;
  margin: -16px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.625rem;
  width: 238px;
  margin: -6px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 1px;
}

.u-section-3 .u-image-5 {
  width: 187px;
  height: 174px;
  margin: 0 auto 0 121px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 15px 31px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 29px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-6 {
  width: 200px;
  height: 186px;
  margin: 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 144px;
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 0 10px;
}

.u-section-3 .u-text-11 {
  margin: 21px 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 0 0 30px;
}

.u-section-3 .u-image-7 {
  width: 174px;
  height: 164px;
  margin: 0 auto;
}

.u-section-3 .u-group-2 {
  min-height: 103px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 127px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -96px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-3 .u-image-3 {
    height: 155px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 246px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 287px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 287px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 39px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    width: 210px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 51px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -12px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -45px;
    margin-right: 21px;
    margin-left: 227px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 92px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 186px;
    height: 24px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -48px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 9px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -11px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1317px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-weight: normal;
  margin: 142px 896px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 258px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 0 316px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 790px;
  background-image: url("images/coding1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 544px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 173px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 530px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 324px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 305px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 700;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-image-1 {
    min-height: 192px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1358px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-weight: normal;
  margin: 170px 723px 0 0;
}

.u-section-5 .u-image-1 {
  width: 297px;
  height: 38px;
  margin: -16px auto 0 368px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 987px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 227px 134px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 44px 134px 0 0;
}

.u-section-5 .u-image-2 {
  width: 287px;
  height: 101px;
  margin: 9px 52px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 987px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  height: 471px;
  width: 340px;
  margin: 11px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: -19px 57px 0 23px;
}

.u-section-5 .u-image-4 {
  width: 322px;
  height: 446px;
  margin: -9px 0 0 auto;
}

.u-section-5 .u-text-5 {
  margin: -18px 17px 0 69px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 987px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-image-5 {
  height: 469px;
  margin-top: 149px;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin: 0 23px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1590px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 327px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 663px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-5 .u-image-3 {
    height: 325px;
    width: 235px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 255px;
    margin-right: 117px;
    margin-left: 1px;
  }

  .u-section-5 .u-image-4 {
    width: 235px;
    height: 326px;
    margin-top: -83px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 102px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 663px;
  }

  .u-section-5 .u-image-5 {
    height: 315px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 136px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 107px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    height: 249px;
    width: 180px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 331px;
    margin-right: 63px;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    width: 180px;
    height: 249px;
    margin-top: -159px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-5 {
    height: 483px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-left: 243px;
  }

  .u-section-5 .u-image-5 {
    height: 725px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-weight: 700;
  }

  .u-section-5 .u-image-1 {
    object-position: 50% 50%;
    margin-right: 0;
    margin-left: 43px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 23px;
    margin-right: 7px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-image-5 {
    height: 456px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}