<!DOCTYPE html>

<head>
  <html style="font-size: 16px;">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G54CY070X8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-G54CY070X8');
  </script>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


  <link rel="stylesheet" href="/css/Search.css" media="screen">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <meta charset="UTF-8">
  <title>Search Engine Proj.</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
    }
  </style>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Search Engine Proj.</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/create">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </nav>
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <form action="#" method="#" role="search">
            <div class="input-group">
              <input class="form-control" placeholder="Search . . ." name="srchq" id="ed-srch-term" type="text">
              <div class="input-group-btn">
                <button type="submit" id="searchbtn">
                  Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    

  </div>
  <ul id=""></ul>
  <script type="js" src="./../../controller/controller_search.js"></script>
</body>
  <footer id="footer">
  <p class="text-center text-muted">&copy; ARCHITEXTS</p>
</footer>
</html>